.root {
    -fx-background-color: #ffd5d8; /* Soft pink background */
}

/* Game Board */
.gameBoard {
    -fx-border-color: #ff8d9e; /* Light pink border */
    -fx-border-width: 10px;
}

.gamePanel {
    -fx-background-color: #000000;
}


/* Next Brick Panel */
.nextBrickPanel {
    -fx-padding: 10;
    -fx-background-color: rgba(255, 240, 245, 0.4); /* Lavender blush */
    -fx-border-color: #FFB6C1; /* Light pink border */
    -fx-border-width: 5;
}

.nextBrickTitle {
    -fx-font-family: "Impact";
    -fx-font-size: 24px;
    -fx-text-fill: #ac008c; /* Hot pink text */
    
}

/* Hold Brick Panel */
.holdBrickPanel {
    -fx-padding: 10;
    -fx-background-color: rgba(255, 240, 245, 0.308); /* Lavender blush */
    -fx-border-color: #f692a1; /* Light pink border */
    -fx-border-width: 5;
}

/* Controls Panel */
.controlsPanel {
    -fx-background-color: rgba(255, 240, 245, 0.6);
    -fx-border-color: #FFB6C1;
    -fx-border-width: 5;
    -fx-padding: 12;
}

.controlTitle {
    -fx-font-family: "Impact";
    -fx-font-size: 20px;
    -fx-text-fill: #C71585;
    -fx-font-weight: bold;
}

.controlKey {
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 12px;
    -fx-text-fill: #8B008B;
    -fx-background-color: rgba(255, 182, 193, 0.4);
    -fx-padding: 2 4 2 4;
    -fx-background-radius: 3;
    -fx-font-weight: bold;
}

.controlDescription {
    -fx-font-family: "Trebuchet MS";
    -fx-font-style: italic;
    -fx-font-size: 12px;
    -fx-text-fill: #f776bd;
}


/* Score Panel */
.scorePanelBox {
    -fx-background-color: rgba(255, 255, 255, 0.158); /* Light pink with transparency */
    -fx-background-radius: 5;
    -fx-padding: 7;
    
}

.scoreLabel{
    -fx-font-family: "Impact";
    -fx-font-size: 18;
    -fx-text-fill: #9b027a;
}

.scoreValue{
    -fx-font-family: "Impact";
    -fx-font-size: 18;
    -fx-text-fill: #6c646c; /* Dark magenta text */
}


/* Notification Panel */
.notificationStyle {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

/* Game Over Panel */
.gameOverPanel {
    -fx-background-color: rgb(255, 254, 176);
    -fx-background-radius: 20;
    -fx-border-color: #ee5078;
    -fx-border-width: 10;
    -fx-border-radius: 15;
    
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 2);
}

.gameOverTitle {
    -fx-font-family: "Open Sans";
    -fx-font-size: 52px;
    -fx-text-fill: #37574a;
    -fx-font-weight: bold;
   
}

.gameOverQuestion {
    -fx-font-family: "Open Sans";
    -fx-font-style: italic;
    -fx-font-size: 18px;
    -fx-text-fill: #400645;
    -fx-font-weight: bold;
   
}

/* Restart Button for Game Over Panel */
.restartButton {
    -fx-font-family: "Open Sans";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #400645;
    -fx-background-color: #400645, #fa7c7c;
    -fx-background-insets: 0, 3;
    -fx-background-radius: 12, 9;
    -fx-padding: 6 26 6 26;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.restartButton:hover {
    -fx-background-color: #400645, #fa5454;
}

.restartButton:pressed {
    -fx-background-color: #400645, #fa5454;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Exit Button for Game Over Panel */
.exitButton {
    -fx-font-family: "Open Sans";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #400645;
    -fx-background-color: #400645, #fa7c7c;
    -fx-background-insets: 0, 3;
    -fx-background-radius: 12, 9;
    -fx-padding: 6 26 6 26;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.exitButton:hover {
    -fx-background-color: #400645, #fa5454;
}

.exitButton:pressed {
    -fx-background-color: #400645, #fa5454;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Pause Button */
.pauseButton {
    -fx-font-family: "Open Sans";
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #e75a82, #ff5b89;
    -fx-background-insets: 0, 3;
    -fx-background-radius: 8, 6;
    -fx-padding: 4 16 4 16;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.pauseButton:hover {
    -fx-background-color: #dc4d76, #e75a82;
}

.pauseButton:pressed {
    -fx-background-color: #dc4d76, #e75a82;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Pause Panel */
.pausePanel {
    -fx-background-color: #f9dbdb;
    -fx-border-color: #ff5b89;
    -fx-border-width: 10;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 2);
}

.pauseTitle {
    -fx-font-family: "Impact";
    -fx-font-size: 54px;
    -fx-text-fill: #ff4b7e;
    -fx-font-weight: bold;
   
}

/* Resume Button for Pause Panel */
.ButtonInPause {
    -fx-font-family: "Open Sans";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ef8aaa;
    -fx-background-color: #ef8aaa, #fff2d1;
    -fx-background-insets: 0, 3;
    -fx-background-radius: 12, 9;
    -fx-padding: 6 26 6 26;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.ButtonInPause:hover {
    -fx-background-color: #ec628e, #ffecbb;
    -fx-text-fill: #ec628e;
}

.ButtonInPause:pressed {
    -fx-background-color: #ec628e, #ffecbb;
    -fx-text-fill: #ec628e;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}


/* Dark Overlay for Pause , Game Over and Control Panel */
.overlay {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.countdownOverlay {
    -fx-background-color: rgba(0, 0, 0, 0.55);
}

.countdownLabel {
    -fx-text-fill: #ffffff;
    -fx-font-size: 96px;
    -fx-font-weight: bold;
    
}

/* Main Menu Panel */

.menuTitle {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 100px;
    -fx-text-fill: #453f42;
    -fx-font-weight: bold;
    
}

.menuButton {
    -fx-font-family: "Open Sans";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-background-color: #605d5d, #e07196;
    -fx-background-insets: 0, 3;
    -fx-background-radius: 12, 9;
    -fx-padding: 10 30 10 30;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
   
}

.menuButton:hover {
    -fx-background-color: #4d4b4b, #d3517c;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.menuButton:pressed {
    -fx-background-color: #4d4b4b, #d3517c;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
}

.controlsPanelMenu {

    -fx-background-color: #3b3b3b, #ffc6c6;
    -fx-background-insets: 0, 5;
    -fx-background-radius: 15, 10;
    -fx-padding: 12;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.8), 10, 0, 0, 2);
    
}

.controlImageMenu {
    -fx-image: url("/ControlKeyBoard.png");
    -fx-fit-height: 249px;
    -fx-fit-width: 434px;
}

.controlKeyboardTitle {
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 15px;
    -fx-text-fill: #433f41;
    -fx-font-weight: bold;
   
}

.scoreValuesImage {
    -fx-image: url("/ScoreValues.png");
    -fx-fit-height: 417px;
    -fx-fit-width: 236px;
}

.crossButtonMenu {
    -fx-font-family: "Open Sans";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #64595c;
    -fx-background-color:  transparent;
    -fx-scale-x: 1.0;
    -fx-scale-y: 1.0;
    
}

.crossButtonMenu:hover {
    -fx-text-fill: #363334;
    
}

.crossButtonMenu:pressed {
    -fx-text-fill: #363334;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}







